.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0056b3; /* Couleur de fond bleu */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre pour un effet de profondeur */
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 20px;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo-img {
  height: 50px; /* Ajustez cette valeur selon la taille de votre logo */
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; /* Assurez que la liste occupe toute la largeur */
}

.nav__list li {
  margin-right: 20px;
}

.nav__list-logout {
  margin-left: auto; /* Pousse le bouton logout à l'extrémité droite */
}

.nav__link {
  color: #ffffff; /* Couleur du texte en blanc */
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #cce7ff; /* Couleur du texte au survol */
}

.nav__button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.3s;
}

.nav__button:hover {
  color: #cce7ff;
}

.content {
  padding-top: 90px;
}
