/* Conteneur de la liste d'utilisateurs */
.userListContainer {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
}

/* Titre de la liste */
.userListTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Tableau des utilisateurs */
.userTable {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* En-tête du tableau */
.userTable th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    border-right: 1px solid #ddd;
}

/* Cellules du tableau */
.userTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.userTable th:last-child, .userTable td:last-child {
    border-right: none;
}

/* Styles spécifiques pour l'état d'admission */
.admissionStatus {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo pour l'état "Pending" et accepted */
.statusLogo {
    width: 20px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
}

/* Bouton Back */
.backButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backButton:hover {
    background-color: #0056b3;
}
